*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #6d6c6c;
}
.cat input{
    width: 300px;
    height: 40px;
    font-size:20px;
    background:#353232;
    font-family: sans-serif;
    color: #fff;
}
.fur{
    width: 500px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 60px;   
}
.ele{
    width: 500px;
    font-size: 20px;
    display: flex;
    margin: 10px;
    margin-right: 20px;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.inf{
    width: 500px;
    font-size: 20px;
    display: flex;
    margin: 10px;
    margin-right: 20px;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.others{
    width: 500px;
    font-size: 20px;
    display: flex;
    margin: 10px;
    margin-right: 20px;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
#btn{
    width: 250px;
    height:20px;
}